:root {
  --text-pink: #ffdbdb;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-image: url(./assets/Sakura-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.left {
  max-width: 10%;
  max-height: 10%;
  border: var(--flexbox) solid 3px;
  min-width: 120px;
  min-width: 120px;
  display: block;
}

.tech {
  align-items: center;
}

.grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(50px, 75px);
  padding-top: 100px;
  margin-right: 50px;
}

.work {
  justify-content: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(150px, 75px);
  padding-top: 100px;
  margin-right: 50px;
}

.container-1 {
  grid-column: 2/4;
  grid-row: 1/5;
  border: 2px solid black;
}

.container-2 {
  grid-column: 2/3;
  grid-row: 5/7;
  border: 2px solid black;
}

.container-3 {
  grid-column: 3/4;
  grid-row: 5/7;
  border: 2px solid black;
}

.container-4 {
  grid-column: 2/3;
  grid-row: 7/9;
  border: 2px solid black;
}

.container-5 {
  grid-column: 3/4;
  grid-row: 7/9;
  border: 2px solid black;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 1.5rem;
}

.container {
  margin-top: 75px;
}

/* h2 {
  text-align: center;
} */

.p1 {
  color: var(--text-pink);
  background-color: black;
  width: 75px;
}

.p2 {
  color: var(--text-pink);
  background-color: black;
  width: 75px;
}

.p3 {
  color: var(--text-pink);
  background-color: black;
  width: 75px;
}

.p4 {
  color: var(--text-pink);
  background-color: black;
  width: 75px;
}

.p5 {
  color: var(--text-pink);
  background-color: black;
  width: 75px;
}